*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: rgb(4, 189, 118);
    width: 100%;
    height: 100vh;
}
.start-section,
.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.start-section button{
    padding: 13px 38px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #333;
}
.container{
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    display: none;
}
.header{
    margin: 15px 30px;
    border-bottom: 2px solid gray;
}
.header span{
    display: flex;
    color: rgb(3, 75, 47);
    font-size: 19px;
    font-weight: 600;
    margin: 15px 0;
}
.header span p{
    font-size: 18px;
    margin: 0 4px;
    font-weight: 600;
}
.question{
    margin: 15px 30px;
}
.question h3{
    font-size: 26px;
    font-weight: 400;
}
.optionlist{
    margin: 10px 25px;
}
.option{
    background-color: #f4f4f4;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 30px;
}
.option:hover{
    background-color: antiquewhite;
}
.option span{
    font-weight: 600;
    font-size: 19px;
}
.buttons{
    margin: 20px 30px;
    display: flex;
}
.buttons button{
    margin: 0 10px;
}
#nextBtn{
    background-color: rgb(4, 189, 118);
    padding: 13px 38px;
    border-radius: 5px;
    outline: none;
    border: none;
    display: none;
    color: #fff;
}
#quitBtn{
    background-color: #333;
    padding: 13px 38px;
    border-radius: 5px;
    outline: none;
    border: none;
    display: none;
    color: #fff;
}
.optionlist .correct{
    border:  2px solid green;
    color: green;
}
.optionlist .incorrect{
    border: 2px solid red;
    color :red;
}
.optionlist .disabled{
    pointer-events: none;
}
.score-counter{
    margin: 10px 40%;
    background: #333;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.score-counter p{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}